build-stamp
build/
debian/debhelper-build-stamp
debian/files
debian/targetcli-fb.debhelper.log
debian/targetcli-fb.substvars
debian/targetcli-fb/
dist/
doc/
*.pyc
*.swp
./*.spec
redhat/*.spec
./rtsadmin-*
log/
