debian/changelog
dpkg-buildpackage.log
dpkg-buildpackage.version
build-stamp
build/
debian/files
debian/rtsadmin-doc.debhelper.log
debian/rtsadmin-doc.substvars
debian/rtsadmin-doc/
debian/rtsadmin.debhelper.log
debian/rtsadmin.substvars
debian/rtsadmin/
debian/tmp/
dist/
doc/
*.pyc
*.swp
./*.spec
redhat/*.spec
./rtsadmin-*
log/
venv/
.idea
*egg-info/
targetcli/version.py
