[Unit]
Description=targetclid socket
Documentation=man:targetclid(8)

[Socket]
ListenStream=/var/run/targetclid.sock
SocketMode=0600

[Install]
WantedBy=sockets.target
