[Unit]
Description=targetclid socket
Documentation=man:targetcli(8)

[Socket]
ListenStream=/var/run/targetclid.sock

[Install]
WantedBy=sockets.target
