Source: targetcli-fb
Section: python
Priority: optional
Maintainer: targetcli-fb developers <targetcli-fb-devel@lists.fedorahosted.org>
Build-Depends: debhelper(>= 9),
               dh-python,
               python3-all,
               python3-setuptools,
Build-Depends-Indep: python3-six,
Standards-Version: 3.9.8
Homepage: https://github.com/open-iscsi/targetcli-fb

Package: targetcli-fb
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-configshell-fb,
         python3-dbus,
         python3-rtslib-fb,
         python3-six,
Conflicts: targetcli, lio-utils
Description: Command shell for managing the Linux LIO kernel target
 The targetcli-fb package is a command-line interface for configuring
 the LIO generic SCSI target, present in 3.x Linux kernel versions.
 .
 The targetcli-fb package is a fork of the "targetcli" code written by
 RisingTide Systems. The "-fb" differentiates between the original and
 this version. Please ensure to use either all "fb" versions of the
 targetcli components -- targetcli, rtslib, and configshell, or stick
 with all non-fb versions, since they are no longer strictly
 compatible.
