Source: targetcli
Section: net
Priority: optional
Standards-Version: 3.9.2
Homepage: https://github.com/Datera/targetcli
Maintainer: Jerome Martin <jxm@netiant.com>
Build-Depends: debhelper(>= 7.0.50~), python(>= 2.6.6-3~), python-rtslib, python-configshell, lio-utils

Package: targetcli
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-configshell, lio-utils, python-rtslib
Provides: ${python:Provides}
Conflicts: targetcli-frozen, rtsadmin-frozen, rtsadmin
Description: CLI and interactive shell to manage Linux SCSI Targets
 .
 Part of the Linux Kernel SCSI Target's userspace management tools
