#!/usr/bin/make -f

build_dir   = build
install_dir = $(CURDIR)/debian/tmp

#export DH_VERBOSE=1

export http_proxy = http://127.0.0.1:9


%:
	dh $@ --with python2

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
